In [1]:
my_name = "B. Chatterjee"
print (my_name)

B. Chatterjee

In [2]:
# month : assign an integer number and display its value
month = int(11)
print (month)

11

In [3]:
# gpa : assign a float number and display its value
gpa = float(4.0)
print (gpa)

4.0

In [5]:
# assign new value to all three variables
my_name = "Baba"
month = int(10)
gpa = float(4.2)

In [6]:
# run this cell and see what happens
my_name
month
gpa

4.2

In [7]:
my_name = "Goofy"                             
month = "May"                                 
gpa = 5

In [8]:
print(my_name)
print(month)
print(gpa)

Goofy
May
5

In [9]:
print("***")
print()
print("One of Python's strength is its diverse community.")

***

One of Python's strength is its diverse community.

In [10]:
print("text with\t1 tab\t\t2 tabs")

text with	1 tab		2 tabs

In [11]:
print(value)

NameError: name 'value' is not defined

In [12]:
print("Hello, ", my_name)

Hello,  Goofy

In [13]:
greetings = "Hello"
first_name = "Elmo"

In [14]:
print(greetings, firstname)  # what's the result?  why?

NameError: name 'firstname' is not defined

In [15]:
last_name = "funny"

In [16]:
print(first_name, last_name)  # what's the result?  why?

Elmo funny

In [17]:
print(1, 2, 3, 4, 5)

1 2 3 4 5

In [18]:
print(1, 2, 3, 4, 5, sep='*')

1*2*3*4*5

In [19]:
print(1, 2, 3, 4, 5)
print(1, 2, 3, 4, 5)
print(1, 2, 3, 4, 5)

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [20]:
print(1, 2, 3, 4, 5, end='**')
print(1, 2, 3, 4, 5, end='&\n\n')
print(1, 2, 3, 4, 5)

1 2 3 4 5**1 2 3 4 5&

1 2 3 4 5

In [21]:
EOL = '|'
DELIMITER = '\t'
print(1, 2, 3, 4, 5, sep=DELIMITER, end=EOL)      # user all upper cases for constant variable
print(1, 2, 3, 4, 5, sep=DELIMITER)
print(1, 2, 3, 4, 5, sep=DELIMITER)

1	2	3	4	5|1	2	3	4	5
1	2	3	4	5

In [22]:
val1 = 20877
val2 = "20877"
val3 = 208.77
val4 = "208.77"
print(val1)
print(val2)
print(val3)
print(val4)

20877
20877
208.77
208.77

In [23]:
type(val1)

int

In [24]:
type(val2)

str

In [25]:
type(val3)

float

In [26]:
print(type(val1))
print(type(val2))
print(type(val3))
print(type(val4))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>

In [27]:
input()   # notice In[*]

x

'x'

In [28]:
print("Enter your first name:")
first_name = input()
print("Hello, " , first_name , '!')

Enter your first name:
chat
Hello,  chat !

In [29]:
print("What is your name?", end="  ")
first_name = input()
print("Hello, " + first_name + '!')

What is your name?  chat
Hello, chat!

In [ ]:
first_name = input("Enter your first name: ")
print("Hello, " + first_name + '!')

In [30]:
prompt = ">"
print("Enter a number:")
numb1 = input(prompt)
numb1 = int(numb1)
print("Enter next number:")
numb2 = input(prompt)
numb2 = int(numb2)
total = numb1 * numb2
print(f"{numb1} * {numb2} = {total}")

Enter a number:
>1
Enter next number:
>2
1 * 2 = 2

In [31]:
int("123")

123

In [32]:
int(12.9)

12

In [33]:
print(float("123"))
print(float(12))

123.0
12.0

In [34]:
str(4.5)

'4.5'

In [35]:
print(bool{"ABC"})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1953685243.py, line 1)

In [4]:
bool(4.5)

True