### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [3]:
line="Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
line.count("row")

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [7]:
print("enter a Name")
name=input()
print("enter a Color")
color=input()
print("enter a name of an animal")
animal=input()
print(name,"had a little",animal)
print("It was",color,"as snow")
print("And everywhere that", name,  "went, the", animal, "was sure to go.")

enter a Name
Mary
enter a Color
white
enter a name of an animal
lamb
Mary had a little lamb
It was white as snow
And everywhere that Mary went, the lamb was sure to go.

In [8]:
x=22/7
x

3.142857142857143

3. Print 3.14159 in a scientific number notation

In [23]:
#print(f"{x:5f}")
print(f"{x:.3f}")

3.143

4. Print 3.1559 in 3 decimal places

In [25]:
x=3.1559
print(f"{x:.3f}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [26]:
x=1589.92341**3
x

4019098146.443506

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [19]:
# 2 to the power of 0 
x=39//2
print (x)
y=39%2
print (y)

19
1

In [20]:
# 2 to the power of 1 
print(19//2)
print(19%2)

9
1

In [21]:
# 2 to the power of 2 
print(9//2)
print(9%2)

4
1

In [22]:
# 2 to the power of 3 
print(4//2)
print(4%2)

2
0

In [14]:
# 2 to the power of 4 
print(2//2)
print(2%2)

1
0

In [10]:
# 2 to the power of 5 
print(1//2)
print(1%2)

0
1

In [23]:
print("100111")

100111

In [27]:
num=39
oct(num)

'0o47'

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [24]:
#8 to the power of 0 
print(39//8)
print(39%8)

4
7

In [26]:
#8 to the power of 1
print(4//8)
print(4%8)

0
4

In [28]:
print("0o47")

0o47

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [29]:
#10 to the power of 0 
print(39//10)
print(39%10)

3
9

In [30]:
#10 to the power of 1 
print(3//10)
print(3%10)

0
3

In [31]:
print(39)

39

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [39]:
print("enter an amount")
amount = int(input())
print("enter Tax Percentage")
taxPercentage = int(input())

tax = round(amount * taxPercentage)
total = amount + (tax/100)

# use formatted string
print("Amount:\t\t$", amount)
print("Tax Percentage:\t", taxPercentage, "%")
print("------------------")

print("Total:\t\t$", total)

enter an amount
100
enter Tax Percentage
5
Amount:		$ 100
Tax Percentage:	 5 %
------------------
Total:		$ 105.0